<p>Nombre del autor: <br>
	Eddy Cubillán <br>
	<img src="/images/FotoPerfil.jpg">
</p>
<p>Video (opcional): <br>
	<video width="300" height="150" controls preload="none">
		<source src="/videos/CuadricopterM.m4v" type="video/mp4"/>
		<source src="/videos/CuadricopterM.webm" type="video/webm"/>
		Your browser does not support the <video> element.
	</video>
</p>
