<form method="GET" action="/quizes/<%= quiz.id %>/answer">
   <p>Pregunta: <%= quiz.pregunta %>
   <p><input type="text" name="respuesta" value="Respuesta"/>
   <p>Tema: <%= quiz.tema %>
   <p><input type="submit" name="Enviar" value="Enviar"/></p>
</form>
